<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: helvetica;
}

header {
  margin: 10;
  background: olive;
  color: white;
}

p {
  background: green;
  color: white;
}

li {
  background: violet;
  color: white;
}
=======
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: helvetica;
}

header {
  margin: 10;
  background: olive;
  color: white;
}

p {
  background: green;
  color: white;
}

li {
  background: violet;
  color: white;
}
>>>>>>> 09e0954f1a9071d05faf243bbc9d93d14558312b
