* {
  box-sizing: border-box;
}

body {
  margin: 20;
}

* text {
  color: #636363;
}

/* Style the header */
header {
  background-color: #a8ddb5;
  padding: 20px;
  text-align: center;
}

main {
  background-color: #43a2ca;
}

body {
  background-color: #43a2ca;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.row {
  width: 100vmax;
  height: 100px;
  margin-left: -8px;
  display: flex;
  justify-content: center;
}

/* Create three equal columns that floats next to each other */
.column {
  float: wrap;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;
}*/


/* Style the footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #a8ddb5;
  padding: 20px;
  text-align: center;
}  
}
